<footer class="app-footer">
    <div class="footer-content">
        <h4 style="color: #273656;">ADRES<br>
            Administradora de los Recursos del Sistema General de Seguridad Social en Salud</h4>
        <p style="font-size: small;"> Centro Empresarial Elemento<br>
            Av. El Dorado #No. 69-76, torre 1, piso 16<br>
            Código Postal 111071, Bogotá, D.C.
        </p>
    </div>
    <div class="footer-image">
        <img src="assets/images/footer.jpg" alt="Footer Image">
    </div>
</footer>
